In [6]:
import numpy as np
import pandas as pd

In [9]:
#ratings = np.zeros((10,20))
ratings = pd.DataFrame(np.random.randint(1,6,size=(100, 4)), columns=list('ABCD'))

In [10]:
ratings

    A  B  C  D
0   5  4  1  4
1   2  2  3  5
2   2  4  3  3
3   1  5  2  3
4   1  5  2  1
.. .. .. .. ..
95  2  5  3  2
96  5  2  1  1
97  1  2  2  2
98  2  2  1  3
99  1  5  3  3

[100 rows x 4 columns]

In [12]:
#np.random.poisson(lam=1.0, size=(100, 4))